@using Chart.Mvc.Options
@{
    ViewBag.Title = "Complex Charts";
    var defaults = new DefaultChartOptions
    {
        DefaultFontSize = 11,
        Tooltips = new TooltipsOptions 
        {
            Enabled = false
        }
    };
}

<h2>Complex Charts</h2>

<div class="row">
    @Html.ApplyGlobalDefaults(defaults)
    <div class="col-md-4">
        @Html.Partial("LineChart")
    </div>
    <div class="col-md-4">
        @Html.Partial("BarChart")
    </div>
    <div class="col-md-4">
        @Html.Partial("RadarChart")
    </div>
</div>
